body{
    width:400px;
    height: 400px;
    background-color: bisque;

    display: flex;
    justify-content: center;
  
}

p{
    display: inline-flex;
    margin: auto 20px;
    font-size: 25px;
    color: black;
    border-radius: 6px;
    box-shadow: 2px 2px 3px red;
    border: 1px solid red;
    padding: 10px;
}